LogicApp_StorageAccount_FileShare/bin/Release/staging/LogicApp_StorageAccount_FileShare/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "FileSharePath": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "File Share path"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azurefile_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurefile"
    },
    "azurefile_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "FileStorageConnection"
    },
    "azurefile_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "filestorageacc"
    },
    "azurefile_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azurefile_2_Connection_Name": {
      "type": "string",
      "defaultValue": "azurefile-1"
    },
    "azurefile_2_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "AzureFileStorage"
    },
    "azurefile_2_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "filestorageacc"
    },
    "azurefile_2_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "LogicAppIntegrationAccount": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "/subscriptions/bd24c633-af54-4962-9a93-2d965fac3c45/resourcegroups/DemoResourceGroup/providers/Microsoft.Logic/integrationAccounts/DemoIntegrationAccount"
    },
    "azurefile_3_Connection_Name": {
      "type": "string",
      "defaultValue": "azurefile-3"
    },
    "azurefile_3_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "filestorage"
    },
    "azurefile_3_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "filestorageacc1"
    },
    "azurefile_3_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurefile_2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Transform_XML')",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "[parameters('FileSharePath')]",
                  "name": "@{triggerBody()?['Order']?['BatchFileName']}.xml",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "Transform_XML": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "Status": "Successfully created file"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            },
            "Transform_XML": {
              "type": "Xslt",
              "inputs": {
                "content": "@{xml(triggerBody())}",
                "integrationAccount": {
                  "map": {
                    "name": "Map_Order_To_Invoice"
                  }
                }
              },
              "runAfter": {
                "XML_Validation": [
                  "Succeeded"
                ]
              }
            },
            "XML_Validation": {
              "type": "XmlValidation",
              "inputs": {
                "content": "@{xml(triggerBody())}",
                "integrationAccount": {
                  "schema": {
                    "name": "Input_OrderSchema"
                  }
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Order": {
                      "type": "object",
                      "properties": {
                        "BatchFileName": {
                          "type": "string"
                        },
                        "OrdersDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "OrderInfo": {
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "type": "string"
                                  },
                                  "Price": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "OrderInfo"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurefile_2": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurefile_3_Connection_Name'))]",
                "connectionName": "[parameters('azurefile_3_Connection_Name')]"
              }
            }
          }
        },
        "integrationAccount": {
          "id": "[parameters('LogicAppIntegrationAccount')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azurefile_3_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurefile_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]"
        },
        "displayName": "[parameters('azurefile_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azurefile_1_accountName')]",
          "accessKey": "[parameters('azurefile_1_accessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurefile_2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]"
        },
        "displayName": "[parameters('azurefile_2_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azurefile_2_accountName')]",
          "accessKey": "[parameters('azurefile_2_accessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurefile_3_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]"
        },
        "displayName": "[parameters('azurefile_3_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azurefile_3_accountName')]",
          "accessKey": "[parameters('azurefile_3_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}